<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>User Detail</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-header collapse="condense">
        <ion-toolbar>
            <ion-title size="large">User Detail</ion-title>
        </ion-toolbar>
    </ion-header>
    <ng-container *ngIf="userDetails$ | async as data;">
        <ion-list>
            <ion-item>
                <ion-avatar slot="start"><img src="{{data.photoURL}}"></ion-avatar>
                <ion-label>
                    <h1 class="text-capitalize">{{data.displayName}}</h1>
                </ion-label>
            </ion-item>

            <ion-item>
                <ion-avatar slot="start"><i class="fa fa-envelope border border-dark p-2 rounded-circle"></i></ion-avatar>
                <ion-label><h2>{{data.email}}</h2></ion-label>
            </ion-item>

            <ion-item>
                <ion-avatar slot="start"><i class="fa fa-phone border border-dark p-2 rounded-circle"></i></ion-avatar>
                <ion-label><h2>+91 {{data.phoneNumber}}</h2></ion-label>
            </ion-item>

            <ion-item>
                <ion-avatar slot="start"><i class="fa fa-calendar border border-dark p-2 rounded-circle"></i></ion-avatar>
                <ion-label><h2>{{data.dateOfBirth.seconds * 1000 | date : 'fullDate'}}</h2></ion-label>
            </ion-item>
        </ion-list>

    </ng-container>
</ion-content>
